.container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.form {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.form button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: var(--blue);
  color: white;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 20px;
}
.form button:hover {
  background-color: var(--dark-blue);
}
.formErr {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

.formInput {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 0;
}

.formInput input,
.formInput select {
  padding: 10px;
  margin: 5px 0px;
  border-radius: 5px;
  border: 1px solid gray;
}

.formInput label {
  font-size: 13px;
  color: gray;
}

.formInput span {
  font-size: 12px;
  padding: 3px;
  color: red;
  display: none;
}

.formInput input:invalid[focused='true'] {
  border: 1px solid red;
}

.formInput input:invalid[focused='true'] ~ span {
  display: block;
}

@media only screen and (max-width: 480px){
  .form{
    width: 100%;
  }
}